.stack {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.gap-sm {
  gap: var(--space-2);
}

.gap-md {
  gap: var(--space-4);
}

.gap-lg {
  gap: var(--space-6);
}
